<%= form_for [:admins, @question], class: "form" do |f| %>
  <%= render "shared/error_messages", object: @question %>
  <div class="form-group">
    <%= f.label :subject %>
    <%= f.collection_select :subject_id, Subject.all, :id, :name, {prompt: true}, {class: "form-control"} %>
  </div>
  <div class="form-group">
    <%= f.label :description %>
    <%= f.text_area :description, class: "form-control" %>
  </div>
  <hr />
  <div class="form-area">
    <h2><%= t("admin.title.question_option") %></h2>
    <div class="form-group">
      <%= f.fields_for :options do |builder| %>
        <%= render "option_fields", f: builder %>
      <% end %>
      <%= link_to_add_fields t("admin.link.add_option"), f, :options %>
    </div>
  </div>
  <div class="form-group">
    <%= f.submit @question.new_record? ? t("button.create") : t("button.update"), class: "form-control btn btn-primary" %>
  </div>
<% end %>
