<div class="form-group">
  <%= f.label :description %>
  <div style="float: right;">
    <%= f.check_box :correct, class: "checkbox" %>
    <%= f.label :correct %>
  </div>
  <%= f.text_field :description, class: "form-control" %>
  <%= link_to_remove_fields "Remove Option", f %>
</div>
