<div class="form-area col-sm-6 col-sm-offset-3">
  <h2><%= t("admin.title.examination_correction") %></h2>
  <div style="overflow: hidden;">
    <div class="pull-left">
      <label><%= t("admin.label.username") %>: </label> 
      <span><%= @examination.user.username %></span>
    </div>
    <div class="pull-right">
      <label><%= t("admin.label.examination_date") %></label>
      <span><%= @examination.created_at.strftime("%d %b, %Y") %></span>
    </div>
  </div><hr />
  <div>
    <%= form_for [:admins, @examination] do |f| %>
      <ol>
        <%= f.fields_for :answer_sheets do |builder| %>
          <% unless  builder.object.question.options.any? %>
            <li>
              <p><%= builder.object.question.description %></p>
              <div class="form-group">
                <%= builder.text_field :answer_content, class: "form-control" %>
                <div class="checkbox">
                  <%= builder.label :correct do %>
                    <%= builder.check_box :correct %>
                    <%= t("admin.label.correct") %>
                  <% end %>
                </div>
              </div>
            </li>
          <% end %>
        <% end %>
      </ol>
      <%= f.hidden_field :status, value: Settings.status.corrected %>
      <%= f.submit t("button.submit"), class: "btn btn-primary pull-right" %>
    <% end %>
  </div>
</div>
