<div class="form-area col-sm-12">
  <div class="col-sm-4">
    <center><h2>User's Profile</h2></center>
    <div id="user">
      <%= gravatar_for @user %>
      <div><label>User Name: </label><%= @user.username %><br>
      <label>Email: </label><%= @user.email %><br> </div>
    </div>
  </div>
  <div class="col-sm-8">
    <center><h2>Examination Histories</h2></center>
    <ul class="list-group">
      <% @user.examinations.each do |examination| %>
        <li class="list-group-item">
          <label class="pull-right"><%= l examination.created_at %></label>
          <label><%= link_to examination.subject.name, "#" %></label>
        </li>
      <% end %>
    </ul>
  </div>
</div>
