<%= form_for [:admins, @subject], class: "form" do |f| %>
  <%= render "shared/error_messages", object: @subject %>
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :duration %>
    <%= f.text_field :duration, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.submit @subject.new_record? ? t("button.create") : t("button.update"), class: "form-control btn btn-primary" %>
  </div>
<% end %>
