<tr>
  <td><%= subject.id %></td>
  <td><%= link_to subject.name, admins_subject_path(subject) %></td>
  <td><%= "#{subject.duration} min" %></td>
  <td>
    <%= link_to t("button.edit"), edit_admins_subject_path(subject) %> | 
    <%= link_to t("button.delete"), admins_subject_path(subject), data: {method: :delete, confirm: t("admin.label.confirmation")} %>
  </td>
</tr>
