<div class="col-sm-8 col-sm-offset-2">
  <div class="row">
    <div class="col-sm-6">
      <h2><%= t("admin.tilte.all_subject") %></h2>
    </div>
    <div class="col-sm-6">
      <br />
      <%= link_to t("admin.link.new_subject"), new_admins_subject_path, class: "btn btn-primary pull-right" %>
    </div>
  </div>
  <%= will_paginate @subjects, renderer: BootstrapPagination::Rails %>
  <table class="table">
    <thead>
      <tr>
        <th>#</th>
        <th><%= t("admin.label.name") %></th>
        <th><%= t("admin.label.duration") %></th>
        <th><%= t("admin.label.option") %></th>
      </tr>
    </thead>
    <tbody>
      <%= render partial: "admins/subjects/subject", collection: @subjects %>
    </tbody>
  </table>
</div>
