<div class="row">
  <hr>
  <div class="col-sm-6">
    <b><%= l examination.created_at, format: :default %></b>
  </div>
  <div class="col-sm-6">
    <b>Testing</b>
  </div>
</div>
<div class="row answer-sheet">
  <hr>
  <div class="col-sm-6">
    <%= examination.subject.name %>
  </div>
  <div class="col-sm-3">
    <%= (Time.mktime(0) + examination.submited_duration).strftime "%H:%M:%S" %>
  </div>
  <div class="col-sm-3">    
    <% if examination.status == "Start" %>
      <%= link_to "#{examination.status}", start_examination_path(examination, "#{examination.status}"), class: "btn btn-primary btn-xs" %>
    <% else %>
      <%= link_to "#{examination.status}", examination_path(examination), class: "btn btn-primary btn-xs" %>
    <% end %>
  </div><br><hr>
</div>
