<div class="row">
  <hr>
  <div class="col-sm-6">
    <b><%= l examination.created_at, format: :default %></b>
  </div>
  <div class="col-sm-6">
    <b><%= t("user.label.status") %>
      <% if examination.status == Settings.status.start %>
        <%= t("user.label.start") %>
      <% elsif examination.status == Settings.status.view %>
        <%= t("user.label.testing") %>
      <% else %>
        <%= t("user.label.finish") %>        
      <% end %>    
    </b>
  </div>
</div>
<div class="row answer-sheet">
  <hr>
  <div class="col-sm-6">
    <%= examination.subject.name %>
  </div>
  <div class="col-sm-3">
    <%= (Time.mktime(0) + examination.submited_duration).strftime "%H:%M:%S" %>
  </div>
  <div class="col-sm-3">    
    <% if examination.status == Settings.status.start %>
      <%= link_to t("button.start"), start_examination_path(examination, "#{examination.status}"), class: "btn btn-primary btn-xs" %>
    <% else %>
      <%= link_to t("button.view"), examination_path(examination), class: "btn btn-primary btn-xs" %>
    <% end %>
  </div><br><hr>
</div>
